/* Scrollbar  */

body::-webkit-scrollbar {
  display: none; 
}

/* CONTACT US */

body{
    background: linear-gradient(135deg, #1a1a1a, #000000); 
  }
  
  /* Header styling */
  header {
    background: linear-gradient(135deg, #1a1a1a, #000000); 
    background-size: cover;
    background-position: center;
    padding: 10px 0;
  }
  
  
  /* Logo styling */
  .logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  /* Navbar link styling */
  .nav-link {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff6347;
  }

main {
    padding-top: 50px; 
    background-color: #181717;
    color: #f2f2f2;
  }
  
  .contact-form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(184, 21, 21, 0.93); 
  }
  
  .contact-form .form-control {
    border-radius: 4px; 
  }
  
  .contact-form button.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .contact-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
  }
  
  .contact-info address {
    margin-bottom: 0; 
  }

  .parsley-errors-list {
    color: red;
    list-style-type: none;
    padding: 0;
}
  
  .map iframe {
    width: 100%; 
    height: 450px; 
    border: none; 
    border-radius: 8px; 
  }
  
/* Footer */

/* Background color for the copyright section */
  .copyright-section {
    background-color: #333; 
    color: #fff; 
}
