/* Scrollbar  */

body::-webkit-scrollbar {
  display: none; 
}
  
  /* Logo styling */
  .logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  /* Navbar link styling */
  .nav-link {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff6347;
  }




/* Hero Section */
  
  .hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-subtitle {
    font-size: 1.2em;
    color: #f9f7f7;
  }
  
  /* Gallery Section */
  .collection-item {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .collection-item:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }
  
  #granim-canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
}

.hero-section, .gallery-section {
    position: relative;
    z-index: 1; 
}

.item1 {
  background-image: url('../images/B1.png');
}

.item2 {
  background-image: url('../images/B2.png');
}

.item3 {
  background-image: url('../images/d1.png');
}

.item4 {
  background-image: url('../images/d2.png');
}

.item5 {
  background-image: url('../images/d3.png');
}

.item6 {
  background-image: url('../images/De2.png');
}

.item7 {
  background-image: url('../images/De3.png');
}

.item8 {
  background-image: url('../images/L1.png');
}

.item9 {
  background-image: url('../images/L2.png');
}

.item10 {
  background-image: url('../images/L3.png');
}

.item11 {
  background-image: url('../images/Night1.png');
}

.item12 {
  background-image: url('../images/Night2.png');
}

.item13{
  background-image: url('../images/Night3.png');
}

.item14{
  background-image: url('../images/Shelve1.png');
}

.item15{
  background-image: url('../images/Shelve2.png');
}

.item16{
  background-image: url('../images/Shelve3.png');
}

.item17{
  background-image: url('../images/Stool1.png');
}

.item18{
  background-image: url('../images/Stool2.png');
}

.item19{
  background-image: url('../images/Stool3.png');
}

.item20{
  background-image: url('../images/bench1.png');
}

.item21{
  background-image: url('../images/painting1.png');
}

.item22{
  background-image: url('../images/side1.png');
}

.item23{
  background-image: url('../images/sofas1.png');
}

.item24{
  background-image: url('../images/coffeetable.png');
}

/* Footer */

/* Background color for the copyright section */
.copyright-section {
  background-color: #333; 
  color: #fff; 
}
